[submodule "mqm/themes/ananke"]
	path = mqm/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/airspace"]
	path = themes/airspace
	url = https://github.com/melinda-schmitz/airspace-hugo-mqm.git
